body {
    background-color: darkgreen;
  }
  
  h2 {
    color: aqua;
    font-size: 50px;
  }

  p1 { 
color: aqua;
font-size: 30px;
  }



  img {
    border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 500px;
  height: 500px;
  }

  .testlink{
    font-size: 20px;
    color: aquamarine;
  }

  a{ 
    color:aqua
  }