body {
    background-color: darkgreen;
  }
  
  h2 {
    color: aqua;
    margin-left: 20px;
  }

  p1 { 
color: aqua;
  }

  a {
    color: aqua;
  }

  img {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 500px;
  height: 500px;
  }